body{
    font-family: 'Montserrat', sans-serif;
}

.mainheader{
    background: #222;
}

.navbar{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.video{
    /*background: url('../img/bg-video.png') center;*/
    min-height: 35em;
}

.textvideo{
    text-align: center;
    color:#f9f9f9;
    /*position: absolute;*/
    margin-top: 3.5em;
    margin-bottom: 2em;

}

.text-blue{
    text-align: center;
    color:#0093F5;
    /*position: absolute;*/
    margin-top: 2.5em;
    /*margin-bottom: 2em;*/

}

.text-pink{
    text-align: center;
    color:#000;
    /*position: absolute;*/
    margin-top: 2em;
    /*margin-bottom: 2em;*/

}

.text-pink strong{
  color: #FD0052;
}

.pink{
  color: #FD0052;
}
.text-program{
    text-align: left;
    color:#f9f9f9;
    /*position: absolute;*/
    margin-top: 3.5em;
    margin-bottom: 1.5em;
    font-weight: 400;

}

.texto-lg{
  font-size: 17px;
}

.txt-large{
  font-size: 20px;
}
.textvideo_no_bottom{
    text-align: center;
    color:#f9f9f9;
    /*position: absolute;*/
    margin-top: 3em;
    /*margin-bottom: 2em;*/

}

.toilet{
    text-align: left;
    color:#f9f9f9;
    font-weight: 400;
    /*position: absolute;*/
    margin-top: 3em;
    margin-bottom: 1.5em;

}

.water{
    text-align: left;
    color:#f9f9f9;
    font-weight: 400;
    /*position: absolute;*/
    margin-top: 2em;
    margin-bottom: 1.5em;

}

.raver-text{
    text-align: left;
    /*color:#f9f9f9;*/
    font-weight: 400;
    /*position: absolute;*/
    margin-top: 3em;
    margin-bottom: 1.5em;

}

.c_programs{
    background: #0F70FD;
    min-height: 35em;

}

.yellow{
    background: #FDBC1B;
    /*min-height: 35em;*/

}


/*.fullscreen-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}*/

/*.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 35em;
}
*/
/*@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        height: 300%;
        top: -100%;
    }
}*/
/*
@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: 100%;
        height:  100%;
        top: -30%;
        right: 300%;

    }


}*/

/*@media (max-width: 647px) {
    .fullscreen-bg {
        background: url('../img/bg-video.png') center;
    }

    .video{
    background: url('../img/bg-video.png') center;
    min-height: 35em;
}*/

/*    .fullscreen-bg__video {
        display: none;
    }
}
*/
.title-white{
    color: #ffffff;
}

.title-green{
    color: #1BC152;
}

.title-white>strong,{
    font-size: 36px;
    font-weight: 700;
}

.hashtag{
    font-size: 24px;
}

.shadow{
    box-shadow: 2px 2px 2px #000;
}

.btn-custom{
    width: 250px;
    margin-bottom: 1em
}

.white{
    background: #fff;
}
.blue{
    background: #1071FF;
}

.green{
    background: #21D455;
}

.margin-bottom{
    margin-bottom: 0.8em;
}

.margin-bottom-lg{
    margin-bottom: 2.8em;
}

.margin-top {
    margin-top: 1.6em;
}


.margin-top-lg{
    margin-top: 2.6em;
}
.footer{
    background: #262626;
    padding-top: 2em;
}


.texto-blanco{
    color: #ffffff;
}

.texto-oscuro{
    color:#868686;
}

.from{
    color: #1BC152;
}

.bg_water{
    background: url('../img/bg-water.png') center no-repeat;
    min-height: 35em;
}

.bg_ravers{
    background: url('../img/bg-ravers.jpg') center no-repeat;
    background-size: cover;
    min-height: 35em;
}

.bg_programs{
    background: url('../img/programas.jpg') center no-repeat;
    background-size: cover;
    min-height: 35em;
}

.bg_about{
    background: url('../img/bg-about.jpg') center no-repeat;
    background-size: cover;
    min-height: 35em;
}

.bg_dj{
    background: url('../img/bg-dj.jpg') center no-repeat;
    background-size: cover;
    min-height: 65em;
}


.vertical{
    margin-top: 6.5em;
}

.text-estandar{
    font-size: 1.2em;
}


/* VIDEO CSS*/

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
  /*height: 35em;*/
  background: url('../img/bg-video.png') center no-repeat;
  background-size: cover;
}
.no-video .video-container video,
.touch .video-container video {
  display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}
.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  /*min-height: 35em;*/
  overflow: hidden;
  /*background: #000;*/
}
.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}
.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}
.video-container .title-container {
  z-index: 1000;
  position: absolute;
  /*top: 20%;*/
  width: 100%;
  text-align: center;
  color: #fff;
}
.video-container .description .inner {
  font-size: 1em;
  width: 45%;
  margin: 0 auto;
}
.video-container .link {
  position: absolute;
  bottom: 3em;
  width: 100%;
  text-align: center;
  z-index: 1001;
  font-size: 2em;
  color: #fff;
}
.video-container .link a {
  color: #fff;
}
.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}
.video-container video.fillWidth {
  width: 100%;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 250px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

.carousel-caption p{
    color: #000;
}
/* Declare heights because of positioning of img element */
.carousel .item {
  height: 250px;
  /*background-color: #777;*/
}


.margin-center{
  margin-right: 4em;
  margin-left: 4em;
}


.margin-center-lg{
  margin-right: 6em;
  margin-left: 6em;
}



